@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white,
[data-collapsible="true"].bg-slate-100
  + [data-collapsible="true"].bg-slate-100 {
  @apply pt-0 md:pt-0;
}

@layer base {

  h1 {
    @apply font-oswald font-medium text-center text-4xl text-night mb-10 md:mb-16 md:text-5xl uppercase
  }

  nav ul li.active {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #FFA800;
  }

  
  .popUp {
    transition: all 0.3s ease-out;
  }

  .popUp .icon {
    display: block;
  }

  .popUp .activeIcon {
    display: none;
  }

  .popUp .details {
    display: none;
  }
  
  /*
   * Property styles in highlighted state.
   */
  
  
  .popUp.highlight .details {
    position: absolute;
    left: -130px;
    bottom: -220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 280px;
    min-height: 200px;
    border-radius: 14px;
    padding: 20px;
    background: #FFA80095;
  }

  .popUp.highlight .icon {
    display: none;
  }
  
  .popUp.highlight .activeIcon {
    display: block;
  }
  
  .popUp.highlight .logo {
    height: 55px;
    width: max-content;
    place-self: end;
  }

  .popUp.highlight .name {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    margin: 20px 0;
  }
  
  .popUp.highlight .info {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
  }
}
